<div style="color:#483838; padding:0px 10px; border-radius:5px; font-size:18px; text-align:center"><h1 style='margin:10px 5px'>Series in  Pandas_part1</h1>
</div>

- __01)Creating Series__

        a_Define a simple sereis
        b_Define the rows indexes
        c_change the index

- __02)Indexing__

        a_indexing by row number
        b_indexing by index name
        c_Access to inexses
        d_Access to series values(data)

- __03)Slicing__

        a_simple slicing
        b_slicing using iloc
        
- __04)Set a name for index columns__
- __05)Set a name for series__
- __06)Eliminate some data from series__

        a_using drop
        b_using pandas.pop
        
- __07)finding NAN__
- __08)find a specific data in series__
- __09)Sorting series__
- __10)Compute numerical data ranks__
- __11)Repeated indexes__
- __12)duplicated data__
- __13) Where__
- __14) Edit indexes__
- __15)add - sum - mul - pow â€“ divide__
- __16)eq , ne , gt , ge , lt , le__
- __17)argmax , argmin() , idxmin() , idxmax()__

In [1]:
import pandas as pd

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>01)Creating Series</h2>
</div>

##### a_Define a simple sereis

In [2]:
my_s = pd.Series([1, 2, 4, 3])
my_s

0    1
1    2
2    4
3    3
dtype: int64

##### b_Define the rows indexes

- Pandas create index column authomaticaly, if we do not define it.

In [3]:
my_s = pd.Series(data = [12, 8, 19, 17] , index=['arman', 'ali', 'rosha', 'sepideh'] )
my_s

arman      12
ali         8
rosha      19
sepideh    17
dtype: int64

##### c_change the index:

In [4]:
my_s = my_s.reindex(['John','ali', 'rosha', 'sepideh'])
my_s

John        NaN
ali         8.0
rosha      19.0
sepideh    17.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>02)Indexing</h2>
</div>

##### a_indexing by row number

In [5]:
my_s[0]

nan

##### b_indexing by index name

In [6]:
my_s['John']

nan

In [7]:
my_s['John'] = 20

##### c_Access to inexses

In [8]:
my_s.index

Index(['John', 'ali', 'rosha', 'sepideh'], dtype='object')

##### d_Access to series values(data):

In [9]:
my_s.values

array([20.,  8., 19., 17.])

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>03)Slicing</h2>
</div>

##### a_simple slicing

In [10]:
my_s[1:4]

ali         8.0
rosha      19.0
sepideh    17.0
dtype: float64

In [11]:
my_s[:3]

John     20.0
ali       8.0
rosha    19.0
dtype: float64

In [12]:
my_s[::-1] #to reverse the series

sepideh    17.0
rosha      19.0
ali         8.0
John       20.0
dtype: float64

##### b_slicing using iloc

In [13]:
my_s.iloc[:2]

John    20.0
ali      8.0
dtype: float64

In [14]:
my_s.iloc[1:]

ali         8.0
rosha      19.0
sepideh    17.0
dtype: float64

In [15]:
my_s.iloc[:-2]

John    20.0
ali      8.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>04)Set a name for index columns</h2>
</div>

In [16]:
my_s.index.name = 'Peaple'
my_s

Peaple
John       20.0
ali         8.0
rosha      19.0
sepideh    17.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>05)Set a name for sereis</h2>
</div>

In [17]:
my_s.name = 'people_grades'
my_s

Peaple
John       20.0
ali         8.0
rosha      19.0
sepideh    17.0
Name: people_grades, dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>06)Eliminate some data from series</h2>
</div>

##### a_using drop

In [18]:
my_s = my_s.drop(['John','ali'])
my_s

Peaple
rosha      19.0
sepideh    17.0
Name: people_grades, dtype: float64

##### b_using pandas.pop

- Return item and drops from series. Raise KeyError if not found.
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.pop.html`

In [19]:
my_ser = pd.Series([11, 12, 13, 14, 15],index=['x', 'y', 'z', 'w', 'k'])
my_ser

x    11
y    12
z    13
w    14
k    15
dtype: int64

In [20]:
a = my_ser.pop('y')
a

12

In [21]:
my_ser

x    11
z    13
w    14
k    15
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>07)finding NAN </h2>
</div>

In [22]:
import numpy as np
my_s1 = pd.Series([12, 13, 15,np.NaN, 7, 8],index=['a', 'b', 'c', 'd', 'e', 'f'])
my_s1

a    12.0
b    13.0
c    15.0
d     NaN
e     7.0
f     8.0
dtype: float64

In [23]:
my_s1.isna()

a    False
b    False
c    False
d     True
e    False
f    False
dtype: bool

In [24]:
my_s1.isna().sum()   #return the sum of nan

1

In [25]:
my_s1.notna()

a     True
b     True
c     True
d    False
e     True
f     True
dtype: bool

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>08)find a specific data in series </h2>
</div>

In [26]:
my_s1.isin([8])

a    False
b    False
c    False
d    False
e    False
f     True
dtype: bool

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>09)Sorting series </h2>
</div>

In [27]:
my_s1 = pd.Series([12, 13, 15,np.NaN, 7, 8],index=['a', 'b', 'c', 'd', 'e', 'f'])
my_s1

a    12.0
b    13.0
c    15.0
d     NaN
e     7.0
f     8.0
dtype: float64

In [28]:
my_s1.sort_values() #sort values ascending

e     7.0
f     8.0
a    12.0
b    13.0
c    15.0
d     NaN
dtype: float64

In [29]:
my_s1.sort_values(ascending=False) #sort values descending

c    15.0
b    13.0
a    12.0
f     8.0
e     7.0
d     NaN
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>10)Compute numerical data ranks </h2>
</div>

__pandas.rank: Compute numerical data ranks (1 through n) along axis.__

In [30]:
my_s1.rank()

a    3.0
b    4.0
c    5.0
d    NaN
e    1.0
f    2.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>11)Repeated indexes</h2>
</div>

In [31]:
s = pd.Series([12, 14, 15,np.NaN, 8, 8],index=['a', 'b', 'c', 'a', 'd', 'b'])
s

a    12.0
b    14.0
c    15.0
a     NaN
d     8.0
b     8.0
dtype: float64

In [32]:
s['b']

b    14.0
b     8.0
dtype: float64

In [33]:
s.index.is_unique  #check if all indexes are unique

False

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>12)duplicated data</h2>
</div>

In [34]:
myser = pd.Series(data = [1, 2, 3, 2, 4, 5, 1], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
myser

a    1
b    2
c    3
d    2
e    4
f    5
g    1
dtype: int64

In [35]:
myser.duplicated()

a    False
b    False
c    False
d     True
e    False
f    False
g     True
dtype: bool

In [36]:
myser.drop_duplicates()

a    1
b    2
c    3
e    4
f    5
dtype: int64

In [37]:
myser.drop_duplicates(keep='last')

c    3
d    2
e    4
f    5
g    1
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>13) Where </h2>
</div>

- Replace values where the condition is False.

In [38]:
s = pd.Series([12, 2, 15, np.NaN, 7, 8],index=['a', 'b', 'c', 'a', 'd', 'b'])
s

a    12.0
b     2.0
c    15.0
a     NaN
d     7.0
b     8.0
dtype: float64

In [39]:
s.where(s > 5, 12345)

a       12.0
b    12345.0
c       15.0
a    12345.0
d        7.0
b        8.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>14) Edit indexes </h2>
</div>

In [40]:
s.add_prefix('item_')

item_a    12.0
item_b     2.0
item_c    15.0
item_a     NaN
item_d     7.0
item_b     8.0
dtype: float64

In [41]:
s.add_suffix('_item')

a_item    12.0
b_item     2.0
c_item    15.0
a_item     NaN
d_item     7.0
b_item     8.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>15)add - sum - mul - pow - divide </h2>
</div>

In [42]:
a = pd.Series([1, 10, 3])
b = pd.Series([4, 5, 6])

In [43]:
a + b

0     5
1    15
2     9
dtype: int64

In [44]:
a.add(b)

0     5
1    15
2     9
dtype: int64

In [45]:
a.subtract(b)

0   -3
1    5
2   -3
dtype: int64

In [46]:
a.multiply(b)

0     4
1    50
2    18
dtype: int64

In [47]:
a.pow(b)

0         1
1    100000
2       729
dtype: int64

In [48]:
a.divide(b)

0    0.25
1    2.00
2    0.50
dtype: float64

In [49]:
a.mod(b)

0    1
1    0
2    3
dtype: int64

In [50]:
a = pd.Series([1, 10, 3],index=['a','b','c'] )
b = pd.Series([4, 5, 6],index=['a','b','d'] )

In [51]:
a.add(b)

a     5.0
b    15.0
c     NaN
d     NaN
dtype: float64

In [52]:
a.add(b, fill_value=0)

a     5.0
b    15.0
c     3.0
d     6.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>16)eq , ne , gt , ge , lt , le </h2>
</div>

In [53]:
s1 = pd.Series([8, 2, 12, 6, 5, 4])
s2 = pd.Series([20, 2, 7, 6, 2, 17])

In [54]:
s1.eq(s2)

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [55]:
s1.ne(s2)

0     True
1    False
2     True
3    False
4     True
5     True
dtype: bool

In [56]:
s1.gt(s2)

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [57]:
s1.lt(s2)

0     True
1    False
2    False
3    False
4    False
5     True
dtype: bool

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>17)argmax , argmin() , idxmin() , idxmax() </h2>
</div>

In [58]:
score = pd.Series({'Java' : 15, 'C++' : 20, 'Python' : 12 , 'Pascal' : 9})

In [59]:
score

Java      15
C++       20
Python    12
Pascal     9
dtype: int64

In [60]:
score.argmax()

1

In [61]:
score.argmin()

3

In [62]:
score.idxmin()

'Pascal'

In [63]:
score.idxmax()

'C++'

In [64]:
s >= 5

a     True
b    False
c     True
a    False
d     True
b     True
dtype: bool