<div style="color:#483838; padding:0px 10px; border-radius:5px; font-size:18px; text-align:center"><h1 style='margin:10px 5px'>Series in  Pandas_part2</h1>
</div>

- __18)cumsum , cumprod__
- __19)value-counts__
- __20)unique & concat & combine & apply__
- __21)transform__
- __22)agg: aggregate__
- __23)nlargest & smallest__
- __24)groupby__
- __25)between__
- __26)dropna__
- __27)to numpy & to dictionary__
- __28)replace & repeat__
- __29)MultiIndex__

In [1]:
import numpy as np
import pandas as pd

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>18)cumsum , cumprod </h2>
</div>

- cumsum : Return cumulative sum over a DataFrame or Series axis.
- cumprod : Return cumulative product over a DataFrame or Series axis.

In [2]:
s = pd.Series([3, 2, np.nan, 5, 0])
s_1 = pd.Series([2, 3, 5, 6, 7])

In [3]:
s.cumsum()

0     3.0
1     5.0
2     NaN
3    10.0
4    10.0
dtype: float64

In [4]:
s_1.cumsum()

0     2
1     5
2    10
3    16
4    23
dtype: int64

In [5]:
s.cumprod()

0     3.0
1     6.0
2     NaN
3    30.0
4     0.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>19)value_counts </h2>
</div>

- Return a Series containing counts of unique values.

In [6]:
s = pd.Series(['c','a','d','a','a','c','b','b','c','c'])
s

0    c
1    a
2    d
3    a
4    a
5    c
6    b
7    b
8    c
9    c
dtype: object

In [7]:
s.value_counts()

c    4
a    3
b    2
d    1
dtype: int64

In [8]:
pd.value_counts(s.values, sort=False)

c    4
a    3
d    1
b    2
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>20)unique & concat & combine & apply</h2>
</div>

In [9]:
s

0    c
1    a
2    d
3    a
4    a
5    c
6    b
7    b
8    c
9    c
dtype: object

In [10]:
s.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [11]:
pd.Series(['c','a','d','a','a','c','b','b','c','c']).unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [12]:
# concat

In [13]:
s1 = pd.Series([8, 2, 12, 6, 5, 4])
s2 = pd.Series([20, 2, 7, 6, 2, 17] , index=[6,7,8,9,10,11])

In [14]:
pd.concat([s1, s2],axis=0) #by default axis=0

0      8
1      2
2     12
3      6
4      5
5      4
6     20
7      2
8      7
9      6
10     2
11    17
dtype: int64

In [15]:
pd.concat([s1, s2],axis=1)

       0     1
0    8.0   NaN
1    2.0   NaN
2   12.0   NaN
3    6.0   NaN
4    5.0   NaN
5    4.0   NaN
6    NaN  20.0
7    NaN   2.0
8    NaN   7.0
9    NaN   6.0
10   NaN   2.0
11   NaN  17.0

In [16]:
# combine

In [17]:
s1 = pd.Series({'ali' : 16 , 'sara' : 17})
s2 = pd.Series({'ali' : 19 , 'sara' : 15 , 'taha' : 18})

In [18]:
s1.combine(s2, max)

ali     19.0
sara    17.0
taha     NaN
dtype: float64

In [19]:
s1.combine(s2, max, fill_value=0)

ali     19
sara    17
taha    18
dtype: int64

In [20]:
# apply

In [21]:
s = pd.Series([10, 5, 100])
s

0     10
1      5
2    100
dtype: int64

In [22]:
s.apply(np.log10)

0    1.00000
1    0.69897
2    2.00000
dtype: float64

In [23]:
s

0     10
1      5
2    100
dtype: int64

In [24]:
def f(x):
    return x**2
s.apply(f)

0      100
1       25
2    10000
dtype: int64

In [25]:
lam = lambda x: x**2
s.apply(lam)

0      100
1       25
2    10000
dtype: int64

In [26]:
def myfunc(x, y):
    return x - y

s.apply(myfunc, args=(2,))

0     8
1     3
2    98
dtype: int64

In [27]:
s

0     10
1      5
2    100
dtype: int64

In [28]:
def f(r, **kwargs):
    for i in kwargs:
        r += kwargs[i]
    return r       

s.apply(f, x=3, y=2)

0     15
1     10
2    105
dtype: int64

In [29]:
# transform

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>21)transform </h2>
</div>

In [30]:
s = pd.Series([10, 4, 9])
s.transform([np.sqrt, np.log10])

       sqrt     log10
0  3.162278  1.000000
1  2.000000  0.602060
2  3.000000  0.954243

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>22)agg: aggregate </h2>
</div>

In [31]:
s = pd.Series([10, 4, 9, 2, 18, 6])
s.agg(['min','max'])

min     2
max    18
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>23)nlargest & smallest</h2>
</div>

In [32]:
data = {'a' : 6, 'b' : 3 , 'c' : 8 , 'd' : 5 , 'e' : 9 , 'f' : 3 , 'g':5 , 'h' : 4 , 'i' : 5}
s = pd.Series(data)
s

a    6
b    3
c    8
d    5
e    9
f    3
g    5
h    4
i    5
dtype: int64

In [33]:
s.nlargest() #by default it returns the first 5 largest values and omit the last ones.

e    9
c    8
a    6
d    5
g    5
dtype: int64

In [34]:
s.nlargest(4, keep='last')

e    9
c    8
a    6
i    5
dtype: int64

In [35]:
s.nlargest(4, keep='all')

e    9
c    8
a    6
d    5
g    5
i    5
dtype: int64

In [36]:
s.nsmallest()

b    3
f    3
h    4
d    5
g    5
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>24)groupby</h2>
</div>

In [37]:
i = ['BMW', 'BMW', 'Benz', 'Benz']
d = [220, 180, 230, 200]

In [38]:
s = pd.Series(d, index=i , name='MaxSpeed')
s

BMW     220
BMW     180
Benz    230
Benz    200
Name: MaxSpeed, dtype: int64

In [39]:
s.groupby(i).max()

BMW     220
Benz    230
Name: MaxSpeed, dtype: int64

In [40]:
s.groupby(i).mean()

BMW     200.0
Benz    215.0
Name: MaxSpeed, dtype: float64

In [41]:
s.groupby(i).median()

BMW     200.0
Benz    215.0
Name: MaxSpeed, dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>25)between</h2>
</div>

In [42]:
s = pd.Series([15, 9, 18, 20])
s.between(10,20)

0     True
1    False
2     True
3     True
dtype: bool

In [43]:
s.between(10,20).sum()

3

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>26)dropna</h2>
</div>

In [44]:
s = pd.Series([15, np.nan, 9, 18, np.nan, 20])
s

0    15.0
1     NaN
2     9.0
3    18.0
4     NaN
5    20.0
dtype: float64

In [45]:
s.dropna(inplace=True)

In [46]:
s

0    15.0
2     9.0
3    18.0
5    20.0
dtype: float64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>27)to numpy & to dictionary</h2>
</div>

In [47]:
#to numpy

In [48]:
s = pd.Series([15, 9, 18, 20], index=['a', 'b','c','d'])

In [49]:
type(s)

pandas.core.series.Series

In [50]:
arr = s.to_numpy()
arr

array([15,  9, 18, 20], dtype=int64)

In [51]:
type(arr)

numpy.ndarray

In [52]:
# to_dict

In [53]:
s = pd.Series([15, 9, 18, 20])
d = s.to_dict()
d

{0: 15, 1: 9, 2: 18, 3: 20}

In [54]:
s

0    15
1     9
2    18
3    20
dtype: int64

In [55]:
type(d)

dict

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>28)replace & repeat</h2>
</div>

In [56]:
# replcae

In [57]:
s = pd.Series([15, 9, 18, 20])
s.replace(9, 10)

0    15
1    10
2    18
3    20
dtype: int64

In [58]:
# repeat: causes each data being repeated n times in series.

In [59]:
s = pd.Series([15, 9, 18, 20])
s.repeat(3)

0    15
0    15
0    15
1     9
1     9
1     9
2    18
2    18
2    18
3    20
3    20
3    20
dtype: int64

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>29)MultiIndex</h2>
</div>

In [60]:
# MultiIndex

In [61]:
lst = [['BMW','BMW','Benz','Benz'] , ['A','B','A','B']]
mi = pd.MultiIndex.from_arrays(lst, names=('Machine', 'Class'))  #create indexes from lst and their name
d = [220, 180, 230, 200]
s = pd.Series(d, index=mi)
s

Machine  Class
BMW      A        220
         B        180
Benz     A        230
         B        200
dtype: int64

In [62]:
s.groupby(level='Machine').max()

Machine
BMW     220
Benz    230
dtype: int64

In [63]:
s.groupby(level=0).max()

Machine
BMW     220
Benz    230
dtype: int64

In [64]:
s.groupby(level='Class').max()

Class
A    230
B    200
dtype: int64

In [65]:
s.groupby(level=1).mean()

Class
A    225.0
B    190.0
dtype: float64